* {
  box-sizing: border-box;
}

:root {
  --monospace-font-family: "IBM Plex Mono", monospace;

  font-family: "Inter var", sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

#root {
  position: fixed;
  inset: 0;
}

input[type="file"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

textarea {
  resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
}

p,
ol,
ul,
li,
dl,
dt,
dd {
  display: block;
  margin: 0;
  padding: 0;
}

.flex-grow {
  flex-grow: 1;
}
