.App {
  position: fixed;
  inset: 0;

  > main {
    display: flex;

    > .canvas {
      flex-grow: 1;
      min-width: 0;

      .step-names {
        .current {
          font-weight: bold;
        }
      }

      .bblock {
        border: 1px solid #eee;
        /* Make translucent to see edges that flow beneath it. */
        background: rgba(255, 255, 255, 0.8);
        padding: 0.5rem;

        > h1 {
          text-align: center;
        }

        .insts {
          font-size: 0.9rem;
          font-family: "Courier New", Courier, monospace;
          display: table;

          > .inst {
            display: table-row;

            > div {
              display: table-cell;

              &:first-child {
                padding-right: 0.5rem;
                text-align: right;
              }
            }
          }
        }
      }
    }

    > .pane {
      flex-shrink: 0;

      > .editor {
        border: 1px solid #ccc;
      }
    }
  }
}
